.graphicSpot .graphicPlotContainer{
  position: relative; /* Устанавливаем контекст для абсолютного позиционирования */
  width: 500px; /* Ширина на 50% */
  height: 500px; /* Высота на 50% */
  top: 50px;
  left: 50px;
  margin-top: -100%; /* Убираем отступы */
  min-height: 300px;
  min-width: 300px;
}

.radius-Vertical-Point {
  position: relative; /* Абсолютное позиционирование */
  width: 11px; /* Ширина точки */
  height: 2px; /* Высота точки */
  background-color: black; /* Цвет точки */
  /*left: calc(50% - 5px);
  top: 0;*/
  left: calc(var(--x-v-position) - 5px);
  top: var(--y-v-position);
}

.radius-Label {
  position: absolute; /* Абсолютное позиционирование для подписи */
  left: calc(var(--x-label-position) + var(--x-displacement));
  top: calc(var(--y-label-position) + var(--y-displacement));
}

.graphicPlotContainer .radius-Horizontal-Point{
  position: absolute; /* Абсолютное позиционирование */
  width: 2px; /* Ширина точки */
  height: 11px; /* Высота точки */
  background-color: black; /* Цвет точки */
  /*left: calc(50% - 5px);
  top: 0;*/
  left: var(--x-h-position);
  top: calc(var(--y-h-position) - 6px);
}

.graphicPlotContainer .figure-1{
  position: absolute;
  width: calc(25% - 1px);
  height: calc(25% - 7px);
  top: calc(25% + 5px);
  left: calc(25% + 1px);
  border-radius: 100% 0 0 0;
  background-color: #3399fe;
}
.graphicPlotContainer .figure-2{
  position: absolute;
  width: 25%;
  height: calc(50% + 2px);
  top: 50%;
  left: 25%;
  background-color: #3399fe;
}

.graphicPlotContainer .figure-3{
  position: absolute;
  width: calc(25% - 2px);
  height: calc(50% + 4px);
  top: calc(50% - 1px);
  left: calc(50% + 2px);
  background-color: #3399fe;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%, 0% 100%);
}
.graphicPlotContainer .point{
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: lightcoral;
  top: calc(50% - 5px);
  left: calc(50% - 3px);
  border-radius: 4px;
  border: 2px solid red; /* Граница ячеек */
}
