.graphicSpot .graphic{
  position: relative; /* Устанавливаем контекст для абсолютного позиционирования */
  width: 600px; /* Ширина на 50% */
  height: 600px; /* Высота на 50% */
  margin: 0; /* Убираем отступы */
}

.axis-x {
  position: relative; /* Меняем на absolute, чтобы позиционировать относительно graphicSpot */
  height: 2px;
  width: 100%;
  bottom: -50%; /* Положение по вертикали внизу */
  left: 0; /* Центрируем ось X */
  background-color: black;
}

.label-x {
  position: absolute; /* Меняем на absolute, чтобы позиционировать относительно axis-x */
  left: calc(100% + 20px);
  bottom: calc(50% + 5px); /* Положение под осью X */
}

.graphic .axis-y{
  position: relative; /* Меняем на absolute, чтобы позиционировать относительно graphicSpot */
  height: 100%;
  width: 2px;
  bottom: 0; /* Положение по вертикали внизу */
  left: 50%; /* Центрируем ось X */
  background-color: black;
}

.label-y{
  position: absolute; /* Меняем на absolute, чтобы позиционировать относительно axis-x */
  left: calc(50% + 5px);
  bottom: calc(100% + 20px); /* Положение под осью X */
}

