.graphicSpot .graphic {
  position: relative; /* Establishes a positioning context */
  width: 600px; /* Width of the container */
  height: 600px; /* Height of the container */
  margin: 0; /* Remove margins */
  display: flex; /* Use Flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1;
}
.point{
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: lightcoral;
  top: calc(50% - 5px);
  left: calc(50% - 3px);
  border-radius: 4px;
  border: 2px solid red; /* Граница ячеек */
}